.ambient-button {
  position: fixed;
  bottom: max(0.5rem, env(safe-area-inset-bottom));
  left: max(0.5rem, env(safe-area-inset-left));
  z-index: 10;

  display: grid;
  place-items: center;

  width: 2.75rem;
  height: 2.75rem;

  border-radius: 50%;
  color: var(--fg-secondary);
  opacity: 0.25;
  transition: opacity 200ms ease;
}

.ambient-button:hover,
.ambient-button:focus-visible {
  opacity: 1;
}
